<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-myfidelidade-fix"
      version="0.1.0">

    <name>Cordova MyFidelidade Fix</name>
    <license>MIT</license>

    <hook type="before_plugin_install" src="src/installDependencies.js" />
    <hook type="after_plugin_install" src="src/addPhaseRunScript.js" />

</plugin>
